body {
// Gradient from http://uigradients.com
background: #517fa4; /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #517fa4 , #243949) fixed; /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #517fa4 , #243949) fixed; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.welloverlay {
    opacity:1.0;
}